@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 100px;
	z-index: 1000;
}
header .logo
{
	width: 180px;
}
header .toggle
{
	max-width: 60px;
	cursor: pointer;
}
header .logo img,
header .toggle img
{
	max-width: 100%;
}
.banner
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 0 100px;
	background: url(https://i.ibb.co/3dPDkQs/bg.jpg );
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: flex-start;
	align-items: center; 
}
.banner .content h2
{
	text-transform: uppercase;
	font-weight: 400;
	font-size: 2.5em;
	letter-spacing: 0.1em;
	color: #fff;
}
.banner .content h2 span
{
	font-weight: 800;
}
.banner .content p
{
	max-width: 592px;
	font-size: 1.2em;
	font-weight: 500;
	letter-spacing: 0.02em;
	line-height: 1.2em;
	margin: 15px 0 35px;
	text-align: justify;
	color:#3d1a3b;
}
.play
{
	position: relative;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 2px;
	font-size: 1.2em;
}
.play img
{
	margin-right: 10px;
	max-width: 50px;
}
.sci
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.sci li
{
	list-style: none;
}
.sci li a
{
	text-decoration: none;
	color: #3d1a3b /*#471944*/;
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 1.2em;
}
.slide
{
	position: absolute;
	bottom: 50px;
	left: calc(50% - 250px / 2);
	width: 250px;
	height: 130px;
	background: url(https://i.ibb.co/0YZnX5G/casts.jpg);
	background-size: cover;
	cursor: pointer;
	animation: animate 11s linear infinite;
}
@keyframes animate
{
	0%,100%
	{
		background-position: top;
	}
	45%,55%
	{
		background-position: bottom;
	}
}
@media (max-width: 991px)
{
	header{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 50px;
		z-index: 1000;
	}
	header
	{
		padding: 20px 50px;
	}
	header .logo
	{
		width: 50%;
	}
	header .toggle
	{
		max-width: 40px;
	}
	.banner
	{
		padding: 100px 50px
	}
	.banner .content h2
	{
		font-weight: 400;
		font-size: 2em;
		letter-spacing: 0.05em;
	}
	.banner .content p
	{
		font-size: 1.5em;
		font-weight: 500;
	}
	.slide
	{
		position: relative;
		bottom: initial;
		left: 0;
		width: 250px;
		height: 150px;
		margin: 20px 0;
	}
	.sci
	{
		position: absolute;
		top: initial;
		right: initial;
		margin-top: 40px;
		transform: translateY(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}
	.sci li
	{
		list-style: none;
		margin: 0 5px;
	}
	.sci li a
	{
		font-size: 2em;
	}
}
